<div class="container mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <form
          #resetPasswordForm="ngForm"
          (ngSubmit)="resetPassword()"
          autocomplete="off"
        >
          <h2 class="text-center text-primary">Reset Password</h2>
          <hr />
          <div class="mb-3">
            <input
              name="username"
              [(ngModel)]="model.username"
              class="form-control"
              type="text"
              placeholder="Username"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="model.password"
              placeholder="Password"
              [required]="true"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              [(ngModel)]="this.confirmPassword"
              placeholder="Confirm Password"
              [required]="true"
            />
          </div>
          
          <div class="text-center">
            <button class="btn btn-success" type="submit">
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
