<form
  #resendEmailForm="ngForm"
  (ngSubmit)="resendVerificationLink()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Resend Verification Email</h2>
  <hr />
  <div class="mb-3">
    <input
      name="username"
      [(ngModel)]="model.username"
      class="form-control"
      type="text"
      placeholder="Username"
    />
  </div>
  <div class="mb-3">
    <input
      name="email"
      [(ngModel)]="model.email"
      class="form-control"
      type="text"
      placeholder="Email"
    />
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-link" (click)="cancel()">
      Go Back
    </button>
  </div>
  <div class="text-center">
    <button class="btn btn-success" type="submit">
      Resend Verification Email
    </button>
  </div>
</form>
